.div1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    align-content: stretch;
}
.h31 {
    font-family: Arial;
    color: dodgerblue;
    font-weight: bold;
}
.h51 {
    text-align: center;
    margin: 0px;
    color: dodgerblue;
}
.linbut1 {
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
    padding: 1px 10px;
    box-shadow: 0px 1px 5px #888888;
}
.linbut1:hover {
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
}
.div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    align-content: stretch;
}
.div3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    align-content: stretch;
}
.lab1 {
    width: 250px;
    font-family: Arial;
}
.lab2 {
    width: 250px;
    font-family: Arial;
}
.lab3 {
    font-family: Arial;
    width: 140px;
}
.texare1 {
    width: 250px;
    background-color: dodgerblue;
    color: white;
    font-family: Arial;
    padding: 4px;
}
.texare2 {
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
    color: white;
    font-family: Arial;
    padding: 4px;
    resize: none;
}
.dialog-button {
    background-color: dodgerblue;
    margin: 0px;
}
.linbut2 {
    font-family: Arial;
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
    padding: 1px 10px;
}
.linbut2:hover {
    background-color: dodgerblue;
    color: white;
    border: 2px solid white;
}
.popup1 {
    font-family: Arial;
    padding: 20px;
    margin: 0px;
}
.dial1 {
    border: 2px solid dodgerblue;
    color: white;
    padding: 0px;
    width: 80%;
}
.dagr1 {
    height: 550px;
    padding: 0px;
    background-color: dodgerblue;
    box-shadow: 0px 2px 10px #888888;
    color: white;
}
.linbut3 {
    font-family: Arial;
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
    padding: 1px 10px;
    margin: 5px;
}
.linbut3:hover {
    background-color: dodgerblue;
    color: white;
    border: 2px solid white;
}