@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';
html {
    font-size: 14px;
}
.head {
    background-color: #283e4a;
    margin: 0;
    height: 7vh;
    padding: 0;
}
.menulink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menulink:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.brandnav {
    font-weight: bold;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: #1f3039;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin: 0px;
    height: 7vh;
    vertical-align:central;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}