@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: dodgerblue;
    text-shadow: 2px 2px 4px #000000;
}
html {
    font-size: 14px;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.head {
    background-color: dodgerblue;
    box-shadow: 0px 2px 20px #888888;
}
.menulink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menulink:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.mr-2 {
    background-color: white;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}